
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');

$primarycolor:#2D3950;
$secondarycolor:#15a4fa; 
$bgcolor:#F6F9F9;


body{
	font-family: 'Open Sans', sans-serif;
	 font-size: 14px;
	 line-height:1.6;
	 color: $primarycolor; 
}

%gradient{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+50,5fc3ff+50 */
background: rgb(72,186,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */

}

%transition{
      transition: all 0.3s linear;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;

}



.navbar{
	background-color:$bgcolor;
	padding:30px 0px; 
	.navbar-nav{

		.nav-item{

			.nav-link{color: $primarycolor;
                     font-weight: 700;
                     text-transform: uppercase;
                     @extend %transition; 
                     
                     
                     &:hover{
                     	color:$secondarycolor;
                     }

}


			}
		}
	}

.banner-section{
	background-image: url(../images/Strict.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	

	.click{
		position: absolute;
		bottom: 25px;
		left: 50%;
		font-size: 20px;
		color: #fff;
	    transform: translate(-50%);
	}
	
	.row {
		height:80vh;
		align-items: center;
		justify-content: center;
		text-align: center;
		
			h1{
				font-size:120px;
				text-transform: uppercase;
				color: #fff;
				font-weight: 600; 

		}
	}
	    span{
	    	background-color: $secondarycolor;
            display: block;
            height: 4px;
            margin-bottom: 20px;
    
	    }

	    p{
	    	margin-top: 0;
		    margin-bottom: 15px;
		    color: #fff;

	    }

	}

.btn-custom{
	border: 1px solid $secondarycolor;
	color:#fff;
	padding: 10px 20px;
	@extend %transition;

	&:hover{
		background: $secondarycolor;
		color: #fff;

	}
}

.about-us-section{
	background-color:$bgcolor;
	text-align: center;
	padding: 40px 0;
	h2{
		font-size: 30px;
		font-weight: 500;


	}

	p{
		font-size: 15px;
	}


}   


.service-section{
	padding: 100px 0;
	text-align: center;


	.service{

        .icon{
        	@extend %gradient;
        	    height: 100px;
			    width: 100px;
			    color: #fff;
			    font-size: 50px;
			    line-height: 100px;
			    text-align: center;
			    margin: auto;
			   


        	i{text-shadow: 1px 1px 5px #2d3950;}

        }
	}   h2{
		font-size: 22px;
		font-weight: 600;
		margin: 10px 0;

	}
	    p{}
}

.showcase-section{
     background-color:$bgcolor;

	img{
		margin-bottom: 20px;
	}

    h2{
      
    font-size: 35px;
    text-align: center;
    font-weight: 600;

    }

    p{
      font-size: 20px;
      text-align: center;
      padding: 15px;
      

    }


    
}  
	

.contact-section{
    background-image: url(../images/contact.png);
    color: #fff;
    height: 500px;
    padding: 50px 0;
    background-blend-mode: overlay;
    background-color: #282167a3;


    

 h2{
 	margin-top: 20px;
 	color: #fff;
 	text-align: center;
 	font-size: 35px;
 	font-weight:500;
 }
 p{
 	margin-top: 20px;
 	color: #fff;
 	text-align: center;
 }

 .check-box{
 	margin-right: 10px;
 }

 }

 footer{
 	 background-color:$bgcolor;
 	 padding: 50px 0;
 	 
 	p{
 		margin-bottom: 0;
 	}
 	ul{
 		li{
 			a{
 				margin-left:10px;
 				background-color:$secondarycolor;
 				color: #fff; 
 				width: 30px;
 				height: 30px;
 				display: block;
 				text-align: center;
 				line-height: 30px;
 				
 				&:hover{

 				}
 			}
 		}
 	}
 }


form {
	text-align: center;

      .between{
      	justify-content:space-between;
      }


	.text{
	background-color: initial;
    width: 540px;
    height: 48px;
    border: 0.2px solid #ddd;
    margin-bottom: 20px;
	}
	.massage{
    background-color: initial;
    width: 540px;
    height: 108px;
    border: 0.2px solid #ddd;
    margin-bottom: 20px;
	}
	.checkbtn{
		color: #fff;
		margin-right: auto;
	}
}